<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="<%= font.include %>" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts-en.min.js"></script>
		<title>*|MC:SUBJECT|*</title>

		<style type="text/css">
			div {
				box-sizing: border-box;
			}
			.page {
				padding: 30px;
			}
			.container {
				width: 100%;
				padding: 15px 0px;
			}
			.row {
				width: 100%;
				margin: 0 -15px;
			}
			.row:after {
				clear: both;
			}
			.col-12 {
				width: 100%;
				float: left;
				padding: 0 15px;
			}
			.col-11 {
				width: 91.666666666666667%;
				float: left;
				padding: 0 15px;
			}
			.col-10 {
				width: 83.333333%;
				float: left;
				padding: 0 15px;
			}
			.col-9 {
				width: 75%;
				float: left;
				padding: 0 15px;
			}
			.col-8 {
				width: 66.66667%;
				float: left;
				padding: 0 15px;
			}
			.col-7 {
				width: 58.3333%;
				float: left;
				padding: 0 15px;
			}
			.col-6 {
				width: 50%;
				float: left;
				padding: 0 15px;
			}
			.col-5 {
				width: 41.6666666667%;
				float: left;
				padding: 0 15px;
			}
			.col-4 {
				width: 33.33333333%;
				float: left;
				padding: 0 15px;
			}
			.col-3 {
				width: 25%;
				float: left;
				padding: 0 15px;
			}
			.col-2 {
				width: 16.666666667%;
				float: left;
				padding: 0 15px;
			}
			.col-1 {
				width: 8.333333333333333%;
				float: left;
				padding: 0 15px;
			}
			#chart {
				height: 100%;
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="page">
			<div class="container">
				<div class="row">
					<div class="col-9">asdasd</div>
					<div class="col-3">
						<div class="row">
							<div class="col-12" style="margin-bottom: 20px">asd</div>
							<div class="col-12" style="margin-bottom: 20px">asd</div>
						</div>
					</div>
					<div class="col-12" style="margin-bottom: 20px">
						<div id="chart"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- <img style="width: 100%" src="<%= map %>" alt="a" /> -->
	</body>
	<script>
		var dom = document.getElementById('chart');
		var myChart = echarts.init(dom);
		var app = {};
		option = null;

		option = {
			title: {
				text: 'EChart Pie',
				subtext: 'eCharts for the win!',
				left: 'center',
			},
			tooltip: {
				trigger: 'item',
				formatter: '{a} <br/>{b} : {c} ({d}%)',
			},
			legend: {
				// orient: 'vertical',
				// top: 'middle',
				bottom: 10,
				left: 'center',
				data: ['Drama', 'Scifi', 'Crime', 'Horror'],
			},
			series: [
				{
					name: 'Movies by category',
					type: 'pie',
					radius: '65%',
					center: ['50%', '50%'],
					selectedMode: 'single',
					data: [
						{ value: 15, name: 'Drama' },
						{ value: 30, name: 'Scifi' },
						{ value: 16, name: 'Crime' },
						{ value: 3, name: 'Horror' },
					],
					emphasis: {
						itemStyle: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)',
						},
					},
					label: {
						normal: {
							formatter: '{b} : {c}',
							position: 'outside', //inside
						},
					},
				},
			],
		};

		if (option && typeof option === 'object') {
			myChart.setOption(option, true);
		}
	</script>
</html>
